<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dirección postal</title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body id="body-personales">

<!--
<a href="/datos-personales" id="datos-personales">
<img src="/img/Number-1-icon.png" alt="Paso 1">
</a>
<a href="/datos-profesionales" id="datos-profesionales">
<img src="/img/Number-2-icon.png" alt="Paso 2">
</a>
<a href="/datos-bancarios" id="datos-bancarios">
<img src="/img/Number-3-icon.png" alt="Paso 3">
</a>
<a href="/resumen" id="resumen">
<img src="/img/checkered-flag-icon.png" alt="Paso 4">
</a>
-->

<!--<h2 th:text="*{mensajeNOK}" class="error"></h2>-->

<form action="/guardar-datos-direccion" method="POST" th:object="${datos}">



  <fieldset>
    <legend th:text="#{registro.direccionPostal}"></legend>
    <label for="tipoVia" th:text="#{registro.tipoVia}"></label>

    <select id="tipoVia" name="tipoVia">
      <option value="" th:text="#{registro.tipoVia.mensaje}"></option>
      <option th:each="tipoVia: ${listaVias}"
              th:value="${tipoVia}"
              th:text="#{'registro.tipoVia.' + ${tipoVia}}"
              th:selected="${datos.getTipoVia() != null
                       and datos.getTipoVia().contains(tipoVia)}"></option>
    </select>

    <label for="via" th:text="#{registro.via}"></label>
    <input type="text" name="via" id="via"
           th:value="${datos.getVia() != null ? datos.getVia() : ''}">

    <label for="numero" th:text="#{registro.numero}"></label>
    <input type="text" name="numero" id="numero"
           th:value="${datos.getNumero() != null ? datos.getNumero() : ''}">
     <br> <br>

    <label for="piso" th:text="#{registro.piso}"></label>
    <input type="text" name="piso" id="piso"
           th:value="${datos.getPiso() != null ? datos.getPiso() : ''}">

    <label for="puerta" th:text="#{registro.puerta}"></label>
    <input type="text" name="puerta" id="puerta"
           th:value="${datos.getPuerta() != null ? datos.getPuerta() : ''}">

    <label for="codigoPostal" th:text="#{registro.codigoPostal}"></label>
    <input type="text" name="codigoPostal" id="codigoPostal"
           th:value="${datos.getCodigoPostal() != null ? datos.getCodigoPostal() : ''}">
    <br> <br>

    <label for="localidad" th:text="#{registro.localidad}"></label>
    <input type="text" name="localidad" id="localidad"
           th:value="${datos.getLocalidad() != null ? datos.getLocalidad() : ''}">

    <label for="region" th:text="#{registro.region}"></label>
    <input type="text" name="region" id="region"
           th:value="${datos.getRegion() != null ? datos.getRegion() : ''}">

    <label for="pais" th:text="#{registro.pais}"></label>
    <input type="text" name="pais" id="pais"
           th:value="${datos.getRegion() != null ? datos.getRegion() : ''}">
  </fieldset>

  <button type="submit" th:text="#{registro.datosDireccion.submit}">
</form>
</body>
</html>