<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Nómina</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/descargarPDF.js"></script>
    <script src="/js/eliminarConcepto.js"></script>
    <link rel="stylesheet" th:href="@{/css/admin/estilos-generales.css}">
    <style>
        label{
            font-weight: bold;
        }
    </style>
</head>
<body class="bg-light" th:object="${adminDTO}">
<div th:replace="~{fragmentos/admin/header :: header}"></div>
<div th:replace="fragmentos/admin/nav :: nav"></div>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Detalle de la Nómina</h2>

        <div>
            <a th:href="@{/nomina/listado}" class="btn btn-secondary me-2">
                <i class="bi bi-arrow-left"></i> Volver
            </a>

            <a th:href="@{'/nomina/modificar/' + ${nominaDTO.id}}" class="btn btn-success me-2">
                <i class="bi bi-pencil"></i> Modificar Nómina
            </a>

            <button id="descargar-pdf-btn"
                    class="btn btn-info"
                    th:attr="data-id=${nominaDTO.id}">
                <i class="bi bi-filetype-pdf"></i>
                Descargar PDF
            </button>
        </div>
    </div>


    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title">Información de la Nómina</h5>
            <div class="row mb-2">
<!--                <div class="col-md-6"><strong>ID:</strong> <span th:text="${nominaDTO.id}"></span></div>-->
                <div class="col-md-4">
                    <strong>Empleado:</strong>
                    <span th:text="${nominaDTO.nombre}"></span>
                </div>
                <div class="col-md-4">
                    <strong>Periodo:</strong>
                    <span th:text="${nominaDTO.periodo.fechaInicio} + ' - ' + ${nominaDTO.periodo.fechaFin}"></span>
                </div>
                <div class="col-md-4">
                    <strong>Nº SS:</strong>
                    <span th:text="${nominaDTO.periodo.fechaInicio} + ' - ' + ${nominaDTO.periodo.fechaFin}"></span>
                </div>
            </div>
            <div class="row mb-2">
<!--                <div class="col-md-6"><strong>Mes:</strong> <span th:text="${nominaDTO.mes}"></span></div>-->
<!--                <div class="col-md-6"><strong>Año:</strong> <span th:text="${nominaDTO.anio}"></span></div>-->
            </div>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Líneas de nómina</h5>

            <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Concepto</th>
                        <th>Porcentaje</th>
                        <th>Ingreso</th>
                        <th>Retención</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${nominaDTO.lineaNominas}">
                        <td th:text="${c.nombreConcepto}"></td>
                        <td th:text="${c.porcentaje != null ? c.porcentaje + '%' : ''}"></td>
                        <td th:text="${c.tipoConcepto.equals('INGRESO') ? c.cantidad + ' €' : ''}"></td>
                        <td th:text="${c.tipoConcepto.equals('DEDUCCION') ? c.cantidad + ' €' : ''}"></td>
                        <td>
                            <div th:if="${!c.nombreConcepto.equalsIgnoreCase('Salario Base')}">
                                <button class="btn btn-sm btn-danger btn-eliminar"
                                        th:data-id-nomina="${nominaDTO.id}"
                                        th:data-id-concepto="${c.idConcepto}">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="table-secondary font-weight-bold">
                        <td>Total</td>
                        <td></td>
                        <td th:text="${totalIngresos}"></td>
                        <td th:text="${totalDeducciones} + ' €'"></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div class="text-end mt-3">
                <strong>Total líquido:</strong>
                <span class="fw-bold text-success"
                      th:text="${nominaDTO.totalLiquido} + ' €'"></span>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>
