<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listado de Nóminas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/eliminarNomina.js"></script>
  <script src="/js/descargarPDF.js"></script>
  <script src="/js/consultaParametrizadaNomina.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin/estilos-generales.css}">

</head>
<body class="bg-light" th:object="${adminDTO}">
<div th:replace="~{fragmentos/admin/header :: header}"></div>
<div th:replace="fragmentos/admin/nav :: nav"></div>



<div class="container">
  <h2 class="mb-4">Listado de Nóminas</h2>

  <!-- Sección de filtros -->
  <div class="filter-section">
    <div class="row">
      <div class="col-md-4 mb-2">
        <label for="filtroNombre" class="form-label">Empleado:</label>
        <input type="text" class="form-control" id="filtroNombre" placeholder="Filtrar por empleado" th:value="${filtroNombre}">
      </div>
      <div class="col-md-4 mb-2">
          <label for="fechaInicio" class="form-label">Fecha de inicio</label>
          <input type="text" class="form-control" id="fechaInicio" th:value="${fechaInicio}" placeholder="Fecha de inicio">
      </div>
      <div class="col-md-4 mb-2">
          <label for="fechaFin" class="form-label">Fecha de finalización</label>
          <input type="text" class="form-control" id="fechaFin" th:value="${fechaFin}" placeholder="Fecha de finalizacion">
      </div>
    </div>
      <div class="row">
          <div class="col-md-12 d-flex justify-content-end gap-2">
              <button id="aplicarFiltros" class="btn btn-primary">
                  <i class="bi bi-funnel-fill me-1"></i>
                  Aplicar Filtros
              </button>
              <button id="limpiarFiltros" class="btn btn-secondary">
                  <i class="bi bi-eraser-fill me-1"></i>
                  Limpiar Filtros
              </button>
          </div>
      </div>
  </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <table class="table table-bordered table-hover shadow-sm bg-white">
    <thead class="table-primary text-center">
    <tr>
<!--      <th>Id</th>-->
      <th>Empleado</th>
      <th>Fecha Inicio</th>
      <th>Fecha fin</th>
      <th>Total líquido</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nomina : ${listaNominas}">
<!--      <td th:text="${nomina.id}">Id</td>-->
      <td th:text="${nomina.nombre}">Nombre del empleado</td>
      <td th:text="${nomina.periodo.fechaInicio}">Fecha de inicio</td>
      <td th:text="${nomina.periodo.fechaFin}">Fecha de fin</td>
      <td th:text="${#numbers.formatDecimal(nomina.totalLiquido, 1, 'COMMA', 2, 'POINT')} + ' €'">0,00 €</td>
      <td class="text-center">

        <!--Botón de ver-->
        <a th:href="@{'/nomina/detalle/' + ${nomina.id}}" class="btn btn-primary me-2" title="Ver">
          <i class="bi bi-eye"></i>
        </a>

        <!--Botón de modificar-->
        <a th:href="@{'/nomina/modificar/' + ${nomina.id}}" class="btn btn-success me-2" title="Modificar">
          <i class="bi bi-pencil"></i>
        </a>

        <!--Botón de eliminar-->
        <button class="btn btn-danger me-2 btn-eliminar"
                th:data-id-nomina="${nomina.id}" title="Eliminar">
          <i class="bi bi-trash me-1"></i>
        </button>

        <!--Botón de descargar pdf-->
        <button id="descargar-pdf-btn"
                class="btn btn-info me-2"
                th:attr="data-id=${nomina.id}" title="Descargar PDF">
          <i class="bi bi-filetype-pdf"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-3">
  <nav>
    <ul id="pagination" class="pagination"
        th:data-total-paginas="${totalPaginas}"
        th:data-pagina-actual="${paginaActual}"
        th:data-modo="${modo}"
        th:data-query-string="${queryString}">
    </ul>
  </nav>
</div>

<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>
