<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title th:text="#{login.actualizar.titulo}">Actualizar Contraseña</title>
  <link rel="stylesheet" th:href="@{/css/login-estilos.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
  <h2 th:text="#{login.clave.actualizar}"></h2>
  <form id="form-actualizar-clave" th:action="@{/empapp/procesar-actualizacion-clave}" method="post" th:object="${dto}">
    <input type="text" th:field="*{usuario}" readonly/>

    <div class="form-group">
      <label th:text="#{login.clave.nueva}"></label>
      <input type="password" th:field="*{nuevaClave}" class="campo-clave" th:placeholder="#{login.clave.placeholder}">
    </div>

    <div class="form-group">
      <label th:text="#{login.clave.confirmar}"></label>
      <input type="password" th:field="*{confirmacionClave}" class="campo-clave" th:placeholder="#{login.clave.placeholder}">
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="mostrarClaves" onclick="mostrarOcultarClave()">
      <label for="mostrarClaves" th:text="#{login.clave.mostrar}"></label>
    </div>

    <div class="error" th:if="${error}" th:text="${error}"></div>
    <div th:each="error: ${#fields.errors('*')}" th:text="${error}" class="error"></div>

    <div class="links">
      <a th:href="@{/empapp/clave}" th:text="#{login.volver}">Volver</a>
    </div>

    <button type="submit" class="button" th:text="#{login.actualizar}"></button>
  </form>
</div>
</body>
<script th:src="@{/js/login-funciones.js}"></script>
</html>
