<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{areapersonal.titulo}"></title>
  <!-- <link rel="stylesheet" th:href="@{/css/login-estilos.css}"> -->
   <link rel="stylesheet" th:href="@{/css/estilos-generales.css}">
</head>
<body th:object="${dto}">
<div th:replace="fragmentos/header :: header"></div>

<a th:href="@{/datos-personales}">Registrarse como empleado</a>
<a th:href="@{/empapp/desconectar}" th:text="#{areapersonal.desconectar}"></a>

<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>
