<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Introduce tu contraseña</title>
    <link rel="stylesheet" th:href="@{/css/login-estilos.css}">
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<div class="container">
    <h2 th:text="${correo}">Usuario</h2>
    <form th:action="@{/empapp/procesar-clave}" method="post" th:object="${dto}">
<!--        <input type="hidden" th:field="*{correo}">-->
<!--        <input type="password" id="usuario" name="usuario" th:value="${correo}" hidden>-->
        <input type="password" id="clave" name="clave" placeholder="Contraseña">
        <div class="error" th:if="${error}" th:text="${error}"></div>

        <div class="checkbox-container">
            <input type="checkbox" id="mostrarClave" onclick="mostrarOcultarClave()">
            <label for="mostrarClave">Mostrar contraseña</label>
        </div>

        <div class="links">
            <a href="#" id="recordarContraseña">¿Has olvidado tu contraseña?</a><br>
        </div>
        <div class="links">
            <a href="/"><b>Seleccionar otra cuenta</b></a>
        </div>

        <button type="submit" class="button">Siguiente</button>
    </form>
</div>
</body>
<script th:src="@{/js/funciones.js}"></script>
</body>
</html>
