<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/login-estilos.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<div class="container">
    <h2 th:text="${usuario}"></h2>
    <form th:action="@{/empapp/procesar-clave}" method="post" th:object="${dto}">
        <span id="usuario" th:text="${usuario}" style="display:none;"></span>
        <input type="password" th:field="*{clave}" th:placeholder="#{login.clave.placeholder}">
        <div class="error" th:if="${error}" th:text="${error}"></div>
        <div th:each="error: ${#fields.errors('clave')}" th:text="${error}" class="error"></div>

        <div class="checkbox-container">
            <input type="checkbox" id="mostrarClave" onclick="mostrarOcultarClave()">
            <label for="mostrarClave" th:text="#{login.clave.mostrar}"></label>
        </div>

        <div class="links">
            <a href="#" id="recordarContraseña" th:text="#{login.clave.olvidada}"></a><br>
        </div>
        <div class="links">
            <a th:href="@{/empapp/procesar-actualizacion-clave}" id="actualizarContraseña" th:text="#{login.clave.actualizar}"></a><br>
        </div>
        <div class="links">
            <a th:href="@{/empapp/seleccionar-otra-cuenta}"><b th:text="#{login.clave.otraCuenta}"></b></a>
        </div>

        <button type="submit" class="button" th:text="#{login.siguiente}"></button>
    </form>
</div>
</body>
<script th:src="@{/js/login-funciones.js}"></script>
</html>
