<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/login-estilos.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<div class="container">
    <h2 th:text="#{login.iniciarSesion}"></h2>
    <form th:action="@{/empapp/procesar-usuario}" method="post" th:object="${dto}">
        <!-- Si no hay usuarios autenticados, mostrar un input de texto -->
        <div th:if="${usuariosAutenticados == null}">
            <input type="text" th:field="*{usuario}" th:placeholder="#{login.usuario.placeholder}">
        </div>
        <div th:each="error: ${#fields.errors('usuario')}" th:text="${error}" class="error"></div>

        <!-- Si hay usuarios autenticados, mostrar un select con las claves -->
        <div th:unless="${usuariosAutenticados == null}">
            <select th:field="*{usuario}" id="usuariosCookie">
                <option value="" disabled selected th:text="#{login.usuario.select}"></option>
                <option th:each="entry : ${usuariosAutenticados}"
                        th:value="${entry.key}"
                        th:text="${entry.key}">
                </option>
            </select>
        </div>

        <!-- Mensaje de error -->
        <div class="error" th:if="${ErrorCredenciales}" th:text="${ErrorCredenciales}"></div>
        <div class="error" th:if="${error}" th:text="${error}"></div>
        <div class="error" th:if="${errorBloqueo}" th:text="${errorBloqueo}"></div>

        <!-- Enlaces adicionales -->
        <div class="links">
            <a href="javascript:void(0);" onclick="cambiarPeticion()"><b th:text="#{login.introducirNuevoUsuario}">I</b></a>
        </div>
        <div class="links">
            <a th:href="@{/empapp/redirigir-hacia-registro-usuario}"><b th:text="#{login.registrarse}"></b></a>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="button" th:text="#{login.siguiente}"></button>
    </form>
</div>
</body>
<script th:src="@{/js/login-funciones.js}"></script>
</html>
