<!-- src/main/resources/templates/fragments/nav.html -->
<nav th:fragment="nav">
  <ul>

    <li><a th:href="@{/nomina/alta}">Alta de nómina</a></li>

    <li><a th:href="@{/nomina/listado}">Listado nóminas</a></li>

    <li><a th:href="@{/empleado/lista}">Listado Empleados</a></li>

    <li><a th:href="@{/adminapp/lista}"> Listado Productos</a></li>

    <li><a th:href="@{/adminapp/carga-masiva}">Alta de Productos</a></li>

    <li><a th:href="@{/adminapp/borrado-masivo}"> Eliminar Productos</a></li>

    <li><a  th:href="@{/empleado/reactivacion-masiva}">Reactivar Empleados </a></li>
    <li> <a th:href="@{/empleado/desactivacion-masiva}"> Desactivar Empleados</a></li>
    <li><a th:href="@{/adminapp/desconectar}">Desconectar</a></li>
  </ul>
</nav>
