<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dirección postal</title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body id="body-direccion">

<a href="/datos-personales" id="datos-personales">
  <img src="/img/Paso1.png" alt="Paso 1">
</a>
<a href="/datos-direccion" id="datos-direccion">
  <img src="/img/Paso2.png" alt="Paso 2">
</a>
<a href="/datos-laborales" id="datos-laborales">
  <img src="/img/Paso3.png" alt="Paso 3">
</a>
<a href="/foto-perfil" id="foto-perfil">
  <img src="/img/Paso4.png" alt="Paso 4">
</a>
<a href="/resumen" id="resumen">
  <img src="/img/Resumen.png" alt="Resumen">
</a>

<h2 th:if="${mensajeNOK != null}" th:text="${mensajeNOK}" class="error"></h2>

<form action="/guardar-datos-direccion" method="POST" th:object="${datos}">

  <fieldset>
    <legend th:text="#{registro.direccionPostal}"></legend>
    <label for="tipoVia" th:text="#{registro.tipoVia}"></label>

    <select id="tipoVia" th:field="*{direccion.tipoVia}">
      <option value="" th:text="#{registro.tipoVia.mensaje}"></option>
      <option th:each="tipoVia: ${listaVias}"
              th:value="${tipoVia}"
              th:text="#{'registro.tipoVia.' + ${tipoVia}}"></option>
    </select>

    <label for="via" th:text="#{registro.via}"></label>
    <input type="text" th:field="*{direccion.via}" id="via">

    <label for="numero" th:text="#{registro.numero}"></label>
    <input type="text" th:field="*{direccion.numero}" id="numero">
    <br> <br>

    <label for="piso" th:text="#{registro.piso}"></label>
    <input type="text" th:field="*{direccion.piso}" id="piso">

    <label for="puerta" th:text="#{registro.puerta}"></label>
    <input type="text" th:field="*{direccion.puerta}" id="puerta">

    <label for="codigoPostal" th:text="#{registro.codigoPostal}"></label>
    <input type="text" th:field="*{direccion.codigoPostal}" id="codigoPostal">
    <br> <br>

    <label for="localidad" th:text="#{registro.localidad}"></label>
    <input type="text" th:field="*{direccion.localidad}" id="localidad">

    <label for="region" th:text="#{registro.region}"></label>
    <input type="text" th:field="*{direccion.region}" id="region">

    <label for="pais" th:text="#{registro.pais}"></label>
    <input type="text" th:field="*{direccion.pais}" id="pais">
  </fieldset>

  <button type="submit" th:text="#{registro.datosDireccion.submit}"></button>
</form>
</body>
</html>