<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
  <body id="body-personales">

        <!--
      <a href="/datos-personales" id="datos-personales">
        <img src="/img/Number-1-icon.png" alt="Paso 1">
      </a>
      <a href="/datos-profesionales" id="datos-profesionales">
        <img src="/img/Number-2-icon.png" alt="Paso 2">
      </a>
      <a href="/datos-bancarios" id="datos-bancarios">
        <img src="/img/Number-3-icon.png" alt="Paso 3">
      </a>
      <a href="/resumen" id="resumen">
        <img src="/img/checkered-flag-icon.png" alt="Paso 4">
      </a>
        -->

      <h2 th:text="*{mensajeNOK}" class="error"></h2>

      <form action="/guardar-datos-personales" method="POST" th:object="${datos}" enctype="multipart/form-data">



      <fieldset>
        <legend th:text="#{registro.datosPersonales}"></legend>
        <label for="nombre" th:text="#{registro.nombre}"></label>
          <input type="text" name="nombre" id="nombre"
                 th:value="${datos.getNombre() != null ? datos.getNombre() : ''}">
        <label for="apellido" th:text="#{registro.apellido}"></label>
        <input type="text" name="apellido" id="apellido"
               th:value="${datos.getApellido() != null ? datos.getApellido() : ''}">

        <label for="fechaNacimiento" th:text="#{registro.fechaNacimiento}"></label>
        <input type="text" name="fechaNacimiento" id="fechaNacimiento"
               th:value="${datos.getFechaNacimiento() != null ? datos.getFechaNacimiento() : ''}"></input> <br>

          <div th:each="error : ${#fields.errors('fechaNacimiento')}" th:text="${error}" class="error"></div>


          <label th:text="#{registro.genero}"></label>

          <div th:each="genero : ${listaGeneros}">
              <input type="radio" name="idGeneroSeleccionado"
                     th:value="${genero.id}"
                     th:id="${'genero' + genero.id}" />
              <label th:for="${'genero' + genero.id}" th:text="#{'registro.genero.' + ${genero.genero}}"></label>
          </div>

          <button type="submit" th:text="#{registro.datosPersonales.submit}"></button>
      </fieldset>

    </form>
  </body>
</html>