<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumen</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/js/mensajeAlertas.js"></script>
</head>
<body id="body-resumen">

<a href="/datos-personales" id="datos-personales">
    <img src="/img/Paso1.png" alt="Paso 1">
</a>
<a href="/datos-direccion" id="datos-direccion">
    <img src="/img/Paso2.png" alt="Paso 2">
</a>
<a href="/datos-laborales" id="datos-laborales">
    <img src="/img/Paso3.png" alt="Paso 3">
</a>
<a href="/foto-perfil" id="foto-perfil">
    <img src="/img/Paso4.png" alt="Paso 4">
</a>
<a href="/resumen" id="resumen">
    <img src="/img/Resumen.png" alt="Resumen">
</a>

<form action="/guardar-empleado" method="POST" id="formulario">
    <!-- DATOS PERSONALES -->
    <fieldset>
        <legend><strong th:text="#{registro.datosPersonales}"></strong></legend>

        <p>
            <strong th:text="#{registro.nombre}"></strong>:
            <span th:text="${datos.nombre}"></span>
        </p>

        <p>
            <strong th:text="#{registro.apellido}"></strong>:
            <span th:text="${datos.apellido}"></span>
        </p>

        <p>
            <strong th:text="#{registro.genero}"></strong>:
            <span th:each="g : ${listaGeneros}"
                  th:if="${g.getId() == datos.getIdGeneroSeleccionado()}"
                  th:text="${g.getGenero()}"></span>
        </p>

        <p>
            <strong th:text="#{registro.fechaNacimiento}"></strong>:
            <span th:text="${datos.fechaNacimiento}"></span>
        </p>
    </fieldset>

    <!-- DIRECCIÓN POSTAL -->
    <fieldset>
        <legend><strong th:text="#{registro.direccionPostal}"></strong></legend>

        <div th:if="${datos.getDireccion() != null}">
            <p>
                <strong th:text="#{registro.tipoVia}"></strong>:
                <span th:if="${datos.getDireccion().getTipoVia() == 'Calle'}" th:text="#{registro.tipoVia.Calle}"></span>
                <span th:if="${datos.getDireccion().getTipoVia() == 'Avenida'}" th:text="#{registro.tipoVia.Avenida}"></span>
            </p>

            <p>
                <strong th:text="#{registro.via}"></strong>:
                <span th:text="${datos.getDireccion().getVia()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.numero}"></strong>:
                <span th:text="${datos.getDireccion().getNumero()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.piso}"></strong>:
                <span th:text="${datos.getDireccion().getPiso()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.puerta}"></strong>:
                <span th:text="${datos.getDireccion().getPuerta()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.codigoPostal}"></strong>:
                <span th:text="${datos.getDireccion().getCodigoPostal()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.localidad}"></strong>:
                <span th:text="${datos.getDireccion().getLocalidad()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.region}"></strong>:
                <span th:text="${datos.getDireccion().getRegion()}"></span>
            </p>

            <p>
                <strong th:text="#{registro.pais}"></strong>:
                <span th:text="${datos.getDireccion().getPais()}"></span>
            </p>
        </div>
        <div th:if="${datos.getDireccion() == null}">
            <p>No se ha proporcionado dirección</p>
        </div>
    </fieldset>

    <!-- DATOS LABORALES -->
    <fieldset>
        <legend><strong th:text="#{registro.datosLaborales}"></strong></legend>

        <p>
            <strong th:text="#{registro.departamento}"></strong>:
            <span th:each="departamento : ${listaDepartamentos}"
                  th:if="${departamento.getId() == datos.getIdDepartamentoSeleccionado()}"
                  th:text="${departamento.getNombre()}"></span>
        </p>
    </fieldset>

    <!-- FOTO DE PERFIL -->
    <fieldset>
        <legend><strong th:text="#{registro.imagen}"></strong></legend>

        <p th:text="${datos.getFoto()}"></p>
    </fieldset>
    <a href="/volver-principio" id="volverAlPrincipio" th:text="#{registro.volver}"></a>
    <button type="submit" id="guardarEmpleado" th:text="#{registro.guardar}"></button>
</form>

</body>
</html>