<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminapp-Login</title>
<!--    <link rel="stylesheet" href="/adminapp/css/login-estilos.css">-->
    <link rel="stylesheet" href="/css/login-estilos.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<div class="container">
    <h2>Iniciar sesión</h2>
    <form id="loginForm" method="POST">
        <div class="error" id="errorCredenciales" style="display: none;">
            <span id="errorMessage"></span>
        </div>

        <input type="text" id="correo" name="correo" placeholder="Introduce tu correo"/>

        <div class="error" id="correoError" style="display: none;">
            <span id="correoErrorMessage"></span>
        </div>

        <input type="password" id="clave" name="clave" placeholder="Contraseña">
        <div class="error" id="claveError" style="display: none;">
            <span id="claveErrorMessage"></span>
        </div>

        <div class="checkbox-container">
            <input type="checkbox" id="mostrarClave" onclick="mostrarOcultarClave()">
            <label for="mostrarClave">Mostrar contraseña</label>
        </div>
        <div class="links">
            <a href="#" id="recordarContraseña">¿Has olvidado tu contraseña?</a><br>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="button">Siguiente</button>
    </form>
</div>
</body>
<script th:src="@{/js/funciones.js}"></script>
</html>