<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
    <link rel="stylesheet" href="/css/registro-empleado-estilos.css">
    <script src="/js/modificarCampos.js"></script>
</head>
<body id="body-personales">


<a href="/datos-personales" id="datos-personales">
    <img src="/img/Paso1.png" alt="Paso 1">
</a>
<a href="/datos-direccion" id="datos-direccion">
    <img src="/img/Paso2.png" alt="Paso 2">
</a>
<a href="/datos-laborales" id="datos-laborales">
    <img src="/img/Paso3.png" alt="Paso 3">
</a>
<a href="/foto-perfil" id="foto-perfil">
    <img src="/img/Paso4.png" alt="Paso 4">
</a>
<a href="/resumen" id="resumen">
    <img src="/img/Resumen.png" alt="Resumen">
</a>


<h2 th:text="*{mensajeNOK}" class="error"></h2>

<form action="/guardar-datos-personales" method="POST" th:object="${datos}" enctype="multipart/form-data"
      id="formulario">


    <fieldset>

        <!-- NOMBRE -->
        <legend th:text="#{registro.datosPersonales}"></legend>
        <label for="nombre" th:text="#{registro.nombre}"></label>
        <input type="text" id="nombre"
               th:field="*{nombre}">
        <!--Imprimir errores-->
        <div th:each="error: ${#fields.errors('nombre')}" th:text="${error}" class="error"></div>


        <!-- APELLIDO -->
        <label for="apellido" th:text="#{registro.apellido}"></label>
        <input type="text" id="apellido"
               th:field="*{apellido}">
        <div th:each="error: ${#fields.errors('apellido')}" th:text="${error}" class="error"></div>

        <!-- GENERO -->
        <label th:text="#{registro.genero}"></label>
        <div th:each="genero : ${listaGeneros}">
            <input type="radio" th:field="*{idGeneroSeleccionado}"
                   th:value="${genero.id}"
                   th:id="${'genero' + genero.id}">
            <label th:for="${'genero' + genero.id}" th:text="#{'registro.genero.' + ${genero.genero}}"></label>
        </div>
        <div th:each="error: ${#fields.errors('idGeneroSeleccionado')}" th:text="${error}" class="error"></div>

        <!-- BOTÓN PARA DESELECCIONAR RADIOS -->
        <input type="button" id="deseleccionarRadios" name="deseleccionarRadios"
               th:value="#{registro.deseleccionar}"
               onclick="deseleccionaRadios('idGeneroSeleccionado');"/>
        <br> <br>

        <!-- FECHA NACIMIENTO -->
        <label for="fechaNacimiento" th:text="#{registro.fechaNacimiento}"></label>
        <input type="text" id="fechaNacimiento"
               th:field="*{fechaNacimiento}"> <br>

        <div th:each="error : ${#fields.errors('fechaNacimiento')}" th:text="${error}" class="error"></div>

        <!--EDAD-->
        <label for="edad" th:text="#{registro.edad}"></label>
        <input type="text" id="edad"
               th:field="*{edad}"> <br>

        <div th:each="error : ${#fields.errors('edad')}" th:text="${error}" class="error"></div>

        <div class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>

        <!--SELECCIONAR PAÍS-->
        <label for="paisNacimiento" th:text="#{registro.paisNacimiento}"></label>
        <select id="paisNacimiento" th:field="*{paisNacimiento}">
            <option th:each="pais: ${listaPaises}"
                    th:value="${pais.pais}"
                    th:text="${pais.pais}"></option>
        </select>
        <div th:each="error: ${#fields.errors('paisNacimiento')}" th:text="${error}" class="error"></div>

        <!-- COMENTARIOS -->
        <label for="comentarios" th:text="#{registro.comentarios}"></label>
        <input type="text" id="comentarios"
               th:field="*{comentarios}">
        <div th:each="error: ${#fields.errors('comentarios')}" th:text="${error}" class="error"></div>

        <button type="submit" th:text="#{registro.submit}"></button>
        <input type="button" th:value="#{registro.vaciar}" onclick="vaciarCampos()">
    </fieldset>


</form>
</body>
</html>