<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
    <link id="estilos" rel="stylesheet" href="/css/registro-empleado-estilos.css">
    <script src="/js/modificarCampos.js"></script>
    <script src="/js/modificarCSS.js"></script>
    <script src="/js/internacionalizacion.js"></script>
</head>
<body id="body-personales">

<!-- Navegación entre pasos -->
<nav>
    <a href="/datos-personales" id="datos-personales">
        <img src="/img/Paso1.png" alt="Paso 1" width="50px" height="auto">
    </a>
    <a href="/datos-contacto" id="datos-contacto">
        <img src="/img/Paso2.png" alt="Paso 2" width="50px" height="auto">
    </a>
    <a href="/datos-profesionales" id="datos-profesionales">
        <img src="/img/Paso3.png" alt="Paso 3" width="50px" height="auto">
    </a>
    <a href="/datos-economicos" id="datos-economicos">
        <img src="/img/Paso4.png" alt="Paso 4" width="50px" height="auto">
    </a>
<!--    <a  id="resumen">-->
    <img src="/img/Resumen.png" alt="Resumen" id="resumen" width="50px" height="auto">
<!--    </a>-->
</nav>

<!-- Mensaje de error a nivel general -->
<h2 th:text="*{mensajeNOK}" class="error"></h2>

<label for="seleccionarIdioma" th:text="#{registro.idioma.seleccionar}"></label>
<select id="seleccionarIdioma">
    <option value="es" th:selected="${#locale.language == 'es'}" th:text="#{registro.idioma.español}"></option>
    <option value="en" th:selected="${#locale.language == 'en'}" th:text="#{registro.idioma.ingles}"></option>
</select>

<div style="text-align: right; margin: 10px;">
    <label th:text="#{registro.activarCSS}" for="activarCSS"></label>
    <input type="radio" name="modificarCSS" value="on" id="activarCSS">

    <label th:text="#{registro.desactivarCSS}" for="desactivarCSS"></label>
    <input type="radio" name="modificarCSS" value="off" id="desactivarCSS" checked>
</div>


<!-- Formulario -->
<form action="/guardar-datos-personales" method="POST" th:object="${datos}" enctype="multipart/form-data" id="formulario">
    <fieldset>
        <legend th:text="#{registro.datosPersonales}"></legend>

        <section>
            <!-- Nombre y Apellido -->
            <article>
                <span class="asterisco">*</span>
                <label for="nombre" th:text="#{registro.nombre}"></label>
                <input type="text" id="nombre" th:field="*{nombre}">
                <div th:each="error: ${#fields.errors('nombre')}" th:text="${error}" class="error"></div>

                <span class="asterisco">*</span>
                <label for="apellido" th:text="#{registro.apellido}"></label>
                <input type="text" id="apellido" th:field="*{apellido}">
                <div th:each="error: ${#fields.errors('apellido')}" th:text="${error}" class="error"></div>
            </article>
            <br>
        </section>

        <section>
            <!-- Fotografía -->
            <article>
                <span class="asterisco">*</span>
                <label th:text="#{registro.foto}"></label><br>
                <input type="file" th:field="*{archivoFoto}" />
                <div th:if="${#fields.hasErrors('archivoFoto')}" th:errors="*{foto}" class="error"></div>
            </article>
            <br>
        </section>

        <section>
            <!-- Género -->
            <article>
                <span class="asterisco">*</span>
                <label th:text="#{registro.genero}"></label><br>
                <div th:each="genero : ${listaGeneros}">
                    <input type="radio" th:field="*{idGeneroSeleccionado}" th:value="${genero.id}" th:id="${'genero' + genero.id}">
                    <label th:for="${'genero' + genero.id}" th:text="#{'registro.genero.' + ${genero.genero}}"></label><br>
                </div>
                <div th:each="error: ${#fields.errors('idGeneroSeleccionado')}" th:text="${error}" class="error"></div>

                <!-- Botones seleccionar/deseleccionar género -->
                <button type="button" onclick="seleccionarPrimerGenero()" th:text="#{registro.genero.seleccionar}"></button>
                <input type="button" id="deseleccionarRadios" name="deseleccionarRadios" th:value="#{registro.deseleccionar}" onclick="deseleccionaRadios('idGeneroSeleccionado');">
            </article>
            <br>
        </section>

        <section>
            <!-- Fecha de nacimiento y Edad -->
            <article>
                <span class="asterisco">*</span>
                <label for="fechaNacimiento" th:text="#{registro.fechaNacimiento}"></label>
                <input type="text" id="fechaNacimiento" th:field="*{fechaNacimiento}">
                <div th:each="error : ${#fields.errors('fechaNacimiento')}" th:text="${error}" class="error"></div>

                <span class="asterisco">*</span>
                <label for="edad" th:text="#{registro.edad}"></label>
                <input type="text" id="edad" th:field="*{edad}">
                <div th:each="error : ${#fields.errors('edad')}" th:text="${error}" class="error"></div>
            </article>

            <!-- Errores globales -->
            <div class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>
            <br>
        </section>

        <section>
            <!-- País de nacimiento -->
            <article>
                <span class="asterisco">*</span>
                <label for="paisNacimiento" th:text="#{registro.paisNacimiento}"></label>
                <select id="paisNacimiento" th:field="*{paisNacimiento}">
                    <option th:each="pais: ${listaPaises}" th:value="${pais.pais}" th:text="#{'registro.paisNacimiento.' + ${pais.pais}}"></option>
                </select>
                <div th:each="error: ${#fields.errors('paisNacimiento')}" th:text="${error}" class="error"></div>
            </article>
            <br>
        </section>

        <section>
            <!-- Comentarios -->
            <article>
                <label for="comentarios" th:text="#{registro.comentarios}"></label>
                <input type="text" id="comentarios" th:field="*{comentarios}">
                <div th:each="error: ${#fields.errors('comentarios')}" th:text="${error}" class="error"></div>
            </article>
            <br>
        </section>

        <section>
            <!-- Botones de envío y reseteo -->
            <article>
                <button type="submit" th:text="#{registro.datosPersonales.submit}"></button>
                <button type="reset" th:text="#{registro.reset}"></button>
                <input type="button" th:value="#{registro.vaciar}" onclick="vaciarCampos()">
            </article>
        </section>

    </fieldset>
</form>
    <a th:href="@{/empapp/desconectar}" th:text="#{areapersonal.desconectar}"></a>

</body>
</html>
