<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Datos de contacto</title>
  <link rel="stylesheet" href="/css/registro-empleado-estilos.css">
  <script src="/js/modificarCampos.js"></script>
</head>
<body id="body-contacto">

<a href="/datos-personales" id="datos-personales">
  <img src="/img/Paso1.png" alt="Paso 1">
</a>
<a href="/datos-contacto" id="datos-contacto">
  <img src="/img/Paso2.png" alt="Paso 2">
</a>
<a href="/datos-profesionales" id="datos-profesionales">
  <img src="/img/Paso3.png" alt="Paso 3">
</a>
<a href="/datos-economicos" id="datos-economicos">
  <img src="/img/Paso4.png" alt="Paso 4">
</a>
<a href="/resumen" id="resumen">
  <img src="/img/Resumen.png" alt="Resumen">
</a>

<h2 th:if="${mensajeNOK != null}" th:text="${mensajeNOK}" class="error"></h2>

<form action="/guardar-datos-contacto" method="POST" th:object="${datos}" id="formulario">

  <fieldset>
    <legend th:text="#{registro.datosContacto}"></legend>

      <!-- Tipo de documento -->
      <label th:text="#{registro.tipoDocumento}"></label>
      <div th:each="doc : ${listaTipoDocumentos}">
        <input type="radio" th:field="*{tipoDocumento}"
               th:value="${doc.documento}"
               th:id="${'tipoDocumento' + doc.id}">
        <label th:for="${'tipoDocumento' + doc.id}" th:text="#{'registro.tipoDocumento.' + ${doc.documento}}"></label>
      </div>

      <div th:each="error: ${#fields.errors('idGeneroSeleccionado')}" th:text="${error}" class="error"></div>


      <!-- NÚMERO DE DOCUMENTO -->
      <label for="numDocumento" th:text="#{registro.numDocumento}"></label>
      <input type="text" th:field="*{numDocumento}" id="numDocumento">
      <div th:each="error: ${#fields.errors('numDocumento')}" th:text="${error}" class="error"></div>
      <br> <br>

      <div class="error" th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>


    <!--SELECCIONAR PREFIJO TELEFÓNICO-->
    <label for="prefijoTelefono" th:text="#{registro.prefijoTelefono}"></label>
    <select id="prefijoTelefono" th:field="*{prefijoTelefono}">
      <option th:each="pais: ${listaPaises}"
              th:value="${pais.prefijo}"
              th:text="${pais.prefijo} + ' (' + #{'registro.paisNacimiento.' + ${pais.pais}} + ')'"></option>
    </select>
    <div th:each="error: ${#fields.errors('prefijoTelefono')}" th:text="${error}" class="error"></div>

    <!-- NÚMERO DE TELÉFONO -->
    <label for="numTelefono" th:text="#{registro.numTelefono}"></label>
    <input type="text" th:field="*{numTelefono}" id="numTelefono">
    <div th:each="error: ${#fields.errors('numTelefono')}" th:text="${error}" class="error"></div>
  </fieldset>


  <fieldset>
    <legend th:text="#{registro.direccionPostal}"></legend>
    <!-- CAMPO DE TIPO VIA -->
    <label for="tipoVia" th:text="#{registro.tipoVia}"></label>
    <select id="tipoVia" th:field="*{direccion.tipoVia}">
      <option th:each="via: ${listaTipoVias}"
              th:value="${via.tipoVia}"
              th:text="#{'registro.tipoVia.' + ${via.tipoVia}}"></option>
    </select>
    <div th:each="error: ${#fields.errors('direccion.tipoVia')}" th:text="${error}" class="error"></div>
    <br>

    <!-- CAMPO DE LA DIRECCIÓN PERSONAL -->
    <label for="via" th:text="#{registro.via}"></label>
    <input type="text" th:field="*{direccion.via}" id="via">
    <div th:each="error: ${#fields.errors('direccion.via')}" th:text="${error}" class="error"></div>

    <!-- NÚMERO -->
    <label for="numero" th:text="#{registro.numero}"></label>
    <input type="text" th:field="*{direccion.numero}" id="numero">
    <div th:each="error: ${#fields.errors('direccion.numero')}" th:text="${error}" class="error"></div>
    <br> <br>

    <!-- PORTAL -->
    <label for="portal" th:text="#{registro.portal}"></label>
    <input type="text" th:field="*{direccion.portal}" id="portal">
    <div th:each="error: ${#fields.errors('direccion.portal')}" th:text="${error}" class="error"></div>

    <!-- PLANTA -->
    <label for="planta" th:text="#{registro.planta}"></label>
    <input type="text" th:field="*{direccion.planta}" id="planta">
    <div th:each="error: ${#fields.errors('direccion.planta')}" th:text="${error}" class="error"></div>


    <!-- PUERTA -->
    <label for="puerta" th:text="#{registro.puerta}"></label>
    <input type="text" th:field="*{direccion.puerta}" id="puerta">
    <div th:each="error: ${#fields.errors('direccion.puerta')}" th:text="${error}" class="error"></div>


    <!-- LOCALIDAD -->
    <label for="localidad" th:text="#{registro.localidad}"></label>
    <input type="text" th:field="*{direccion.localidad}" id="localidad">
    <div th:each="error: ${#fields.errors('direccion.localidad')}" th:text="${error}" class="error"></div>


    <!-- REGIÓN -->
    <label for="region" th:text="#{registro.region}"></label>
    <input type="text" th:field="*{direccion.region}" id="region">
    <div th:each="error: ${#fields.errors('direccion.region')}" th:text="${error}" class="error"></div>

    <!-- CODIGO POSTAL -->
    <label for="codigoPostal" th:text="#{registro.codigoPostal}"></label>
    <input type="text" th:field="*{direccion.codigoPostal}" id="codigoPostal">
    <div th:each="error: ${#fields.errors('direccion.codigoPostal')}" th:text="${error}" class="error"></div>
    <br> <br>
  </fieldset>

  <button type="submit" th:text="#{registro.datosDireccion.submit}"></button>
  <button type="reset" th:text="#{registro.reset}"></button>
  <input type="button" th:value="#{registro.vaciar}"  onclick="vaciarCampos()">
</form>
</body>
</html>