a img{
    width: 50px;
    height: auto;
    opacity: 0.5;
}
#body-personales a img,
#body-contacto a img,
#body-profesionales a img,
#body-economicos a img,
#body-resumen a img {
    opacity: 0.5; /* Reafirmamos la opacidad por defecto */
}


#body-personales #datos-personales img,
#body-contacto #datos-contacto img,
#body-profesionales #datos-profesionales img,
#body-economicos #datos-economicos img,
#body-resumen #resumen img {
    opacity: 1;
}

.error{
    color: red;
    font-weight: bold;
}
.asterisco {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}